<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <title>equipe</title>
</head>
<body class="equipe-body" >
    <header>
        <span class="title">mi<small class="header-name">vex</small>    </span>
        <div class="toggle"></div>
        <ul class="menu">
            <li><a href="{% url 'home' %}">accueil</a></li>
            <li><a href="/#infos">infos</a></li>
            <li><a href="/#propos">propos</a></li>
            <li><a href="#footer">contatcs</a></li>
        </ul>
    </header>
    <div class="equipe" id="equipe">
        <h1 class="item">EQUIPE MIVEX</h1>
       <div class="equipe-div ">
        <div class="equipe-img item">
            <img src="{% static 'img/IMG-20240817-WA0039.jpg' %}">
        </div>
        <div class="equipe-img item">
            <img src="{% static 'img/IMG-20240817-WA0038.jpg' %}">
        </div>
        <div class="equipe-img item">
            <img src="{% static 'img/IMG-20240817-WA0037.jpg' %}">
        </div>
        <div class="equipe-img item">
            <img src="{% static 'img/IMG-20240817-WA0013.jpg' %}">
        </div>
        <div class="equipe-img item">
            <img src="{% static 'img/IMG-20240817-WA0032.jpg' %}">
        </div>
       </div>
    </div>
    <footer class="footer" id="footer">
        <div class="icone item">
            <a href=""><img src="{% static 'img/icons8-facebook-nouveau-50.png' %}" alt=""></a>
            <a href=""><img src="{% static 'img/icons8-whatsapp-50 (2).png' %}" alt=""></a>
            <a href=""><img src="{% static 'img/icons8-subscribe-50.png' %}" alt=""></a>
            <a href=""><img src="{% static 'img/icons8-instagram-50.png' %}" alt=""></a>
            <a href=""><img src="{% static 'img/icons8-twitter-50.png' %}" alt=""></a>
            <a ><img src="{% static 'img/BackgroundEraser_20240816_135025459.png' %}" alt="" id="logo"></a>
        </div>
    
        <div class="footer-a item">
            <a >communautés <br><span> notre communautésur les réseaux est en développement, consulter notre page facebook, ecrivez nous sur whatsapp ou email  </span> </a>
            <a >prendre un rendez-vous<br><span>nous sommes disponible 24h/24, ecrivez-nous sur whatsapp et vous recevrez une réponse dans un bref delai, l'equipe disponible réagira pour vous satisfaire, poser toutes questions.</span></a>
            <a >voir notre page facebook<br><span>consulter notre page facebook, laisser une réaction, abonnez-vous pour rester actif avec chaque nouveauté, nous mettons toutes les nouvelles actualités dessus, restez parmis nous.</span></a>
            <a > laisser un commentaire email<br><span>laisser un commentaire via notre email pour nous permettre d'ameliorer nos services ou nous encourager dans notre marche pour l'art urbaine qui doit être mis de l'avant.</span></a>
        </div>
       </footer>
       <script src="{% static 'js/equipe.js' %}"></script>
</body>
</html>